<h1>Listing apts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apts.each do |apt| %>
  <tr>
    <td><%= apt.apt_name %></td>
    <td><%= link_to 'Show', apt %></td>
    <td><%= link_to 'Edit', edit_apt_path(apt) %></td>
    <td><%= link_to 'Destroy', apt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Apt', new_apt_path %>
