<p id="notice"><%= notice %></p>

<h1><%= @apt.apt_name %></h1>

<p><%= @apt.body %></p>

    <div id="reservations">
      <h2 class="month">
        <%= link_to "<", date: @date.months_ago(4) %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.months_since(4) %>
      </h2>
      <%= calendar @date, @reservations do |date| %>
        <%= date.day %>
          <% if @reservations_by_start_date[date] %>
              <% @reservations_by_start_date[date].each do |reservation| %>
                  <%= link_to reservation.name, reservation %>
              <% end %>
          <% end %>
      <% end %>

      <h2 class="month"><%= @date.months_since(1).strftime("%B %Y") %></h2>
      <%= calendar @date.months_since(1), @reservations do |date| %>
          <%= date.day %>
          <% if @reservations_by_start_date[date] %>
              <% @reservations_by_start_date[date].each do |reservation| %>
                  <%= link_to reservation.name, reservation %>
              <% end %>
          <% end %>
      <% end %>

      <h2 class="month"><%= @date.months_since(2).strftime("%B %Y") %></h2>
      <%= calendar @date.months_since(2), @reservations do |date| %>
          <%= date.day %>
          <% if @reservations_by_start_date[date] %>
              <ul class="reserved">
                <% @reservations_by_start_date[date].each do |reservation| %>
                    <li><%= link_to reservation.name, reservation %></li>
                <% end %>
              </ul>
          <% end %>
      <% end %>

      <h2 class="month"><%= @date.months_since(3).strftime("%B %Y") %></h2>
      <%= calendar @date.months_since(3), @reservations do |date| %>
          <%= date.day %>
          <% if @reservations_by_start_date[date] %>
              <ul class="reserved">
                <% @reservations_by_start_date[date].each do |reservation| %>
                    <li><%= link_to reservation.name, reservation %></li>
                <% end %>
              </ul>
          <% end %>
      <% end %>
    </div>


<%= link_to 'Edit', edit_apt_path(@apt) %> |
<%= link_to 'Back', apts_path %>
